%table{:class => "profile", :summary => "Profile information"}
  %tr
    %td{:class => "main"}
      %h1== #{gravatar_for @user} #{@user.name}
    %td{:class => "sidebar round"}
      %strong== Name #{@user.name}
      %strong== URL #{link_to user_path(@user), @user}
      
 





















