%h1 About Us
%p== #{link_to 'Ruby on Rails Tutorial', 'http://railstutorial.org'} is a project to make a book and screencasts to teach web development with #{link_to 'Ruby on Rails', 'http://rubyonrails.org/'}. This is the sample application for the tutorial.

